.quotes {
  margin-block: var(--space-2xl);
  padding-inline: 2rem;
}

.cita {
  display: inline;
  font-size: var(--step-3);
  text-align: center;
  color: #21212195;
}

label {
  font-size: var(--step-1);
  line-height: 170%;
}
